<div id="productList">
   
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="~/images/sour-beers.jpg" alt="@product.BeerName" style="height:270px; width:270px;"> <!-- Funkar inte -->
                    <div class="card-body">
                        <h5 class="card-title">Name: @product.BeerName</h5>
                        <p class="card-text">Articlenumber: @product.ArticleNumber</p>
                        <p class="card-text">Description : @product.BeerDescription</p>
                        <p class="card-text">Alcohol: @product.AlcoholPercent%</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>